* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    color:  #6a93cb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    min-width: 300px;
    cursor: pointer;
    
    

    &:focus {
        outline: none;
        

    }

    &::placeholder {
        color:  #adbbcf;
        font-family: inherit;
        font-weight: 200;
    }
}

.weather {
    background:  #acc7ec;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.2);
    margin-top: calc(1vw + .8rem);
    width: clamp(20vw, 456px, 60vw);
    height: clamp(6vh, 240px, 40vw);
    font-size: clamp(1vw, 2rem, 4rem);
    text-align: center;
    color: #0e141b;

    h2 {
      margin-bottom: 0;
    }

    small {
        font-size: 1rem;
    }

    img {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 680px) {
    .weather {
        font-size: 1.5rem;
        width: 80vw;
        height: 50vw;
        margin-top: 2rem;
        padding: .2rem;
        padding-top: 0;

        small {
            font-size: 1rem;
        }
    }
}
